body {
    margin: 0;
    padding-top: 800px;
    text-align: center;
}

#welcome {
    position: absolute;
    overflow: hidden;
    height: 800px;
    color: white;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(#d6a3d0 0%, #eb2143 100%);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.parallax-inner {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

.profile {
    width: 180px;
    border-radius: 70%;
}

#bio {
    padding: 50px;
    text-align: center;
    font-size: 45px;
}

p {
    font-size: 17px;
    margin: 25px auto;
    max-width: 450px;
    line-height: 1.3;
}

.menu {
    z-index: 10;
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
    font-family: fantasy;
    list-style: none;
}

.links {
    float: left;
    color: blueviolet;
    font-size: 20px;
    padding-right: 9px;
    padding-left: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.links:hover{
    background-color: deeppink;
}
a{
    text-decoration: none;
}
.article:hover{
    color: bisque;
}